pip install asgiref==3.3.1
pip install Django==3.1.7
pip install djangorestframework==3.12.4
pip install numpy==1.20.2
pip install opencv-contrib-python==4.5.1.48
pip install opencv-python==4.5.1.48
pip install Pillow==8.2.0
pip install pytz==2021.1
pip install pywin32==300
pip install sqlparse==0.4.1
